# node_modules
node_modules/

# Android build & Gradle caches inside project and packages
.gradle/
**/android/.gradle/
**/android/build/
**/android/app/build/
**/build/
*.lock
*.bin

# Expo & Metro
.expo/
web-build/
dist/

# macOS
.DS_Store
